/*Reset CSS styling*/

* {
    outline: none;
    box-sizing: border-box;
}

html {
    text-size-adjust: 100%;
}

body {
    margin: 0;
    min-width: 320px;
    font-family: 'Lato', sans-serif;
    line-height: 1.4;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

ul {
    margin: 0;
    padding-left: 0;
}

li {
    list-style-type: none;
}

p {
    margin: 0 0 20px 0;
}

a {
    text-decoration: none;
    color:black;
}


/* Include clearfix */
.clearfix:before, .clearfix:after {
    display: table;
    content: ' ';
}

.clearfix:after {
    clear: both;
}

.header {
    background-color: #EE3124;
    padding: 10px;
}

.header h1 {
    color: #FFF;
    font-size: 28px;
    font-weight: bold;
}

.header a {
	text-decoration: none;
	color:#FFF;
}

.header h1:hover {
	color:#DDD;
}

.container {
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.content {
    margin-top: 15px;
}

.deal {
    background-color: #EEE;
    margin-bottom: 15px;
    padding: 20px;
}

.deal h2 {
    margin-bottom: 8px;
}

.deal a:hover {
    color:#DDD;
}

.price, .heat, .difference {
    font-weight:bold;
}

.product-link {
    background-color:#EE3124;
    color:white;
    padding: 10px 44px;
    margin-top:20px;
    border-radius:2px;
}

.product-link:hover {
    background-color: #cc0000;
}

/* Responsive CSS styles */

@media screen and (min-width: 768px) {
    .header {
        padding: 0;
        height: 80px;
    }

    .header h1 {
        font-size: 32px;
        line-height: 80px;
    }
    .container {
        width: 750px;
    }

    .deal {
        position: relative;
        text-align: left;
        padding: 30px;
    }

    .deal-content p:last-of-type {
        margin: 0;
    }
    
    .deal-image {
        position: absolute;
        top: 30px;
        right: 30px;
    }
    .product-link {
        position: absolute;
        bottom: 40px;
        right: 30px;
    }

    .deal p,.deal h2 {
        width:75%;
    }

}

@media screen and (min-width: 992px) {
    .header h1 {
        font-size: 40px;
    }

    .container {
        width: 970px;
    }

    .deal p,.deal h2 {
        width:80%;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1170px;
    }

    .deal p,.deal h2 {
        width:85%;
    }

}
